$colors: (
    common: (
        color-blue: #0d6efd,
        color-indigo: #6610f2,
        color-purple: #6f42c1,
        color-pink: #d63384,
        color-red: #dc3545,
        color-orange: #fd7e14,
        color-yellow: #ffc107,
        color-green: #17c699,
        color-teal: #20c997,
        color-cyan: #0dcaf0,
        color-white: #fff,
        color-gray: #f5f5f5,
        color-black: #000,
    ),
    body: (
        color: #777777,
    ),
    heading: (
        color: #111111,
    ),
    theme: (
        primary: #ff2092,
        primary-dark: #cc006f,
        primary-light: #ff4da6,
        secondary: #2551e7,
        secondary-dark: #1a3fc4,
        secondary-light: #4d6feb,
    ),
    border: (
        1: #e8e8e8,
        2: #2c2c2c,
    )
);
