name: Trigger Vercel Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Trigger Vercel Deployment
        run: curl https://api.vercel.com/v1/integrations/deploy/prj_Eo4CaOoOIewr8W1AUgqQ59GPEZF2/gOeOq3UiHP
